@import "./layout.scss";

.battleContainer {
    height: inherit;
    font-size: .8rem;
    min-width: 76%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: initial;

    .bottom {
        flex-direction: row;
    }

    .top {
        flex-direction: row-reverse;
    }

    .battleCardContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;

        .characterInfos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 30%;

            .hpContainer {
                display: flex;
                align-items: center;

                .hp {}

                .hpBar {
                    height: 5px;
                    width: 200px;
                    border: 1px solid black;
                    background-color: green;
                }

                .totalHp {}

            }

            .imageContainer {
                height: 55%;
                // width: 10%;

                .image {
                    height: 100%;
                    width: auto;

                }
            }
        }

        .stats,
        .actions {
            display: grid;
            grid-template-columns: 1fr 1fr;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 3px solid;
            border-style: double;
            margin: 5px 0;
            max-width: 500px;
            width: 20%;
            min-height: 100px;
            min-width: 250px;
        }


    }
}