@import "./layout.scss";

.supokhero {
    display: flex;
    width: 100vw;
    height: calc(100vh - #{$mainNav});

    .listAndCardContainer {
        max-width: 50%;
        display: flex;
        height: inherit;
    }

    .battleContainer {
        height: inherit;
        font-size: .8rem;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: initial;

        .bottom {
            flex-direction: row;
        }

        .top {
            flex-direction: row-reverse;
        }

        .battleCardContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50%;

            .characterInfos {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 30%;

                .hpContainer {
                    display: flex;
                    align-items: center;

                    .hp {}

                    /*Chrome*/
                    @media screen and (-webkit-min-device-pixel-ratio:0) {
                        .hpBar {
                            overflow: hidden;
                            width: 200px;
                            -webkit-appearance: none;
                            background-color: white;
                        }

                        .hpBar::-webkit-slider-runnable-track {
                            height: 10px;
                            -webkit-appearance: none;
                            color: $deepGreen;
                            margin-top: -1px;
                        }

                        .hpBar::-webkit-slider-thumb {
                            width: 0px;
                            -webkit-appearance: none;
                            height: 10px;
                            background: white;
                            box-shadow: -200px 0 0 200px $deepGreen;
                        }

                    }

                    /** FF*/
                    .hpBar::-moz-range-progress {
                        background-color: $deepGreen;
                    }

                    .hpBar::-moz-range-track {
                        background-color: white;
                    }

                    /* IE*/
                    .hpBar::-ms-fill-lower {
                        background-color: $deepGreen;
                    }

                    .hpBar::-ms-fill-upper {
                        background-color: white;
                    }

                    .hpBar {
                        height: 6px;
                        width: 200px;
                        border: 1px solid black;
                        background-color: white;
                    }

                    .totalHp {}

                }

                .imageContainer {
                    height: 55%;
                    // width: 10%;

                    .image {
                        height: 100%;
                        width: auto;

                    }
                }
            }

            .characterSideInfos {
                display: flex;
                flex-direction: column;

                .statsAndActionsContainer {
                    display: flex;

                    .stats,
                    .actions {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        border: 3px solid;
                        border-style: double;
                        margin: 5px 0;
                        max-width: 500px;
                        width: 20%;
                        min-height: 100px;
                        min-width: 250px;
                    }
                }

                .teamDisplay {
                    display: flex;
                    height: 100%;
                    max-height: 15px;


                    .imageContainer {
                        max-width: 15px;
                        max-height: 100%;
                        display: flex;
                        align-items: center;

                        .star {
                            color: yellow;
                        }

                        .image {
                            height: 100%;
                            margin-right: 3px;
                        }
                    }
                }

            }
        }
    }
}